[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/stu-be/*"
  to = "http://195.85.216.67/stu-be/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200