[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/stu-be/*"
  to = "/.netlify/functions/proxy"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200